*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: rgb(255, 255, 255);
}
header{
    background-color:#2E0236;
    height: 20vh;
    overflow: hidden;
}
h1{
    color: aliceblue;
    margin: 20px;
}